.input-container {
  display: flex;
  align-items: center; 
  margin-bottom: 20px; 
}

input[type=text] {
  width: 250px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 40%;
}

button {
  border-radius: 4px; 
  margin-left: 10px; 
  padding: 12px 20px; 
  cursor: pointer; 
  background-size: 15px 15px; 
  border: 2px solid #4d3b3b; 
  font-size: 16px; 
  background-color: rgb(241, 233, 233); 

  
}

h1 {
  font-family: 'Arial', sans-serif; 
  font-size: 36px; 
  font-weight: bold; 
  color: #333; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
  letter-spacing: 1px; 
  line-height: 1.2; 
}

h3{
  font-size: 20px;
  color: black;
}